<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>Editing Book</h2>
      <%= form_with model: @book do |f| %>
        <label for="inputName">Title</label>
        <br />
        <%= f.text_field :title, autofocus: true, id:"inputTitle", placeholder:"Title"%>
        <br />
        <label for="inputOpinion">Opinion</label>
        <br />
        <%= f.text_area :opinion, autofocus: true, id:"inputOpinion", placeholder:"opinion"%>
        <br />
        <%= f.submit"Update Book", class:"btn btn-success" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
